mat-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  form {
    width: 15rem;
    display: flex;

    input {
      padding: 0.5rem;
    }

    mat-icon {
      position: relative;
      right: 1.7rem;
      top: 0.5rem;
      cursor: pointer;
    }
  }
}
