mat-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  form {
    width: 15rem;
    display: flex;

    input {
      padding: 0.5rem;

      button {
      }
    }
  }
}
