<ng-container *ngIf="searchCalled && (filteredUsers$ | async)?.length">
	<mat-card
		*ngFor="let user of filteredUsers$ | async; let i = index"
		[ngClass]="{ 'show-details': i === hoveredCardIndex }"
		(mouseenter)="hoveredCardIndex = i"
		(mouseleave)="hoveredCardIndex = null"
	>
		<mat-card-title>
			<img [src]="user.image ? user.image : placehldrImg" alt="" />
			<mat-icon [svgIcon]="user.available ? 'available' : 'busy'"></mat-icon>
		</mat-card-title>
		<mat-card-content>
			<p class="name">{{ user.firstName }} {{ user.lastName }}</p>
			<p>{{ user.location }}</p>
			<p *ngIf="i === hoveredCardIndex">phone: {{ user.phone }}</p>
			<p *ngIf="i === hoveredCardIndex">email: {{ user.email }}</p>
		</mat-card-content>
	</mat-card>
</ng-container>

<ng-container *ngIf="searchCalled && !(filteredUsers$ | async)?.length">
	<div class="no-results">
		<h3>This Search Returned</h3>
		<h2>No Results</h2>
		<mat-icon>search</mat-icon>
		<p>Please try again</p>
	</div>
</ng-container>

<ng-container *ngIf="!searchCalled">
	<mat-card
		*ngFor="let user of users$ | async; let i = index"
		[ngClass]="{ 'show-details': i === hoveredCardIndex }"
		(mouseenter)="hoveredCardIndex = i"
		(mouseleave)="hoveredCardIndex = null"
	>
		<mat-card-title>
			<img [src]="user.image ? user.image : placehldrImg" alt="" />
			<mat-icon [svgIcon]="user.available ? 'available' : 'busy'"></mat-icon>
		</mat-card-title>
		<mat-card-content>
			<p class="name">{{ user.firstName }} {{ user.lastName }}</p>
			<p>{{ user.location }}</p>
			<p *ngIf="i === hoveredCardIndex">phone: {{ user.phone }}</p>
			<p *ngIf="i === hoveredCardIndex">email: {{ user.email }}</p>
		</mat-card-content>
	</mat-card>
</ng-container>
