  :host {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem auto 2rem;
    min-height: 80vh;

    @media (max-width: 768px) {
      margin: 0.5rem;
    }
  }

  mat-card {
    width: 20vw;
    height: 35vh;
    margin: 1rem;
    padding: 1rem;

    @media (max-width: 1025px) {
      width: 35vw;
      height: auto;
    }

    @media (max-width: 768px) {
      width: 55vw;
      height: auto;
      margin: 0.5rem;
      padding: 0.5rem;
    }

    @media (max-width: 475px) {
      width: 80vw;
    }

    &.show-details {
      cursor: pointer;

      mat-card-title {
        height: 7.5rem;

        img {
          height: 6rem;
        }
      }
    }

    mat-card-title {
      margin: 0;
      padding: 0;
      height: 11.5rem;

      img {
        width: 100%;
        height: 10rem;
        object-fit: cover;
        overflow: hidden;
      }

      mat-icon {
        position: relative;
        bottom: 4rem;
        left: 80%;
        height: 3rem;
        width: 3rem;
      }
    }

    mat-card-content {

      .name {
        font-size: 1.2rem;
        ;
      }
    }
  }

  .no-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    mat-icon {
      margin: 2rem auto;
      transform: scale(4);
    }
  }
